{% extends "base.html" %}

{% block content %}
<h1>Привет, {{ username }}!</h1>
<h4>Мои новости:</h4>
<table border="1" width="90%" bgcolor="f9fad4">
    <tr>
        <th>Дата</th>
        <th>Имя пользователя</th>
        <th>Заголовок</th>
        <th>Новость</th>
    </tr>
    {% for id, head, content, data, user_id in content_list %}
    <tr>
        <th>{{data}}</th>
        <th>{{user_model.get(user_id)[1]}}</th>
        <th>{{head}}</th>
        <th>{{content}}</th>
    </tr>
    {%endfor%}
</table>
{% endblock %}